
<!DOCTYPE html>
<html>
<head>
    <titile><h1>Please perfrom your update operations</h1></titile>
    <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/update/{{edit1.id}}">
            {% csrf_token%}
            
            
            <label>customer</label></br>
            <select name="first_name">
                
                
                <option value="{{edit1.customer.id}}" >{{edit1.customer.first_name}}</option>
                
            </select>
            
            
            </br>
            <label>product</label></br>
            <select name="name">
                
                
                <option value="{{edit1.product.id}}" >{{edit1.product.name}}</option>
                
            </select>
            </br>
            
            <label>unit_price</label></br>
            <input type="text" name="unit_price" id="unit_price" value="{{edit1.unit_price}}"readonly>
            </br>
            <label>qty</label></br>
            <input type="text" name="qty" id="qty" value="{{edit1.qty}}">
            </br>
            <label>total_price</label></br>
            <input type="text" name="total_price" id="total_price" value="{{edit1.total_price}}"readonly>
            </br>
            
            
        
    </div>
    <br>
    <input type="submit" name="update" value="update" class="btn btn-primary">
    <br>
    </form>

</body>
</html>   


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                $("#qty").keyup(function(){
                var unit_price=$("#unit_price").val();
                var qty=$("#qty").val();
                var total_price= qty * unit_price
                $("#total_price").val(total_price);
                });


            </script>
