
<!DOCTYPE html>
<html>
<head>
    <titile><h1>Please enter your data</h1></titile>
    <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="/">
            {% csrf_token%}
            </br>
            <label>customer name</label></br>
            {{form.customer}}
           
            </br>
            <label>product name</label></br>
            {{form.product}}
            
            </br>
            <label>qty</label></br>
            {{form.qty}}
            </br>
            <label>unit_price</label></br>
            {{form.unit_price}}
            </br>
            <label>total_price</label></br>
            {{form.total_price}}
            </br>
             
             <!--<label>customer Name</label></br>
            <select>
                <option  value="" selected="selected">---SELECT---</option>
                {% for x in cus %}
                 <option  name="Customer" value="{{x.first_name}}">{{x.first_name}}</option>
                {% endfor %}
            </select>

            </br></br>
            <label>product Name</label></br>
            <select>
                <option  value="" selected="selected">---SELECT---</option>
                {% for y in pro %}
                 <option  name="Product" value="{{y.name}}">{{y.name}}</option>
                {% endfor %}
            </select></br>
            
            </br>
            <label>qty</label></br>
            <input type="number" name="qty" value="{{order1.qty}}" >{{order1.qty}}</input>
            </br>

            </br>
            <label>unit_price</label></br>
            
            <input type="text" name="unit_price" value="{{order1.unit_price}}"  >{{order1.unit_price}}</input>

            </br>
            </br>
            <label>total_price</label></br>
            

            
            <input type="text" name="total_price" value="{{order1.total_price}}" >{{order1.total_price}}</input></br>
-->


            </br>
            <input type="submit" name="=insert" value="insert" class="btn btn-primary">
            </br>
    </form>

</body>
</html>   