
<!DOCTYPE html>
<html>
<head>
    <titile><h1> Order Entered data</h1></titile>
    
</head>
<body>
    <div class="container">
        <table>
            <tr>
                
                <td>customer</td>
                <td>product</td>
                
                <td>unit_price</td>
                <td>qty</td>
                <td>total_price</td>
                
                
                <td>delete</td>
                <td>edit</td>
            </tr>
            {% for order in order %}
            <tr>
                
                <td>{{order.customer.first_name}}</td>
                <td>{{order.product.name}}</td>
                
                <td>{{order.unit_price}}</td>
                <td>{{order.qty}}</td>
                <td>{{order.total_price}}</td>
    


                
                
                <td><a href="/delete/{{order.id}}" class="btn btn-danger btn-sm">delete</a></td>
                <td><a href="/edit/{{order.id}}" class="btn btn-danger btn-sm">edit</a></td>
            </tr>

            
                   
            {% endfor %}
            
            

        </table>
        
    </div>
</body>
</html>   